.wrapper {
  display: flex;
  justify-content: center;
}

.grid {
  margin: 0 auto;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(1, minmax(50px, max-content));

  @media (min-width: 415px) {
    margin: 0 auto;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, max-content));
  }

  @media (min-width: 640px) {
    margin: 0 auto;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, max-content));
  }

  @media (min-width: 768px) {
    margin: 0 auto;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, max-content));
  }

  @media (min-width: 820px) {
    margin: 0 auto;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, max-content));
  }

  @media (min-width: 1024px) {
    margin: 0 auto;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(5, minmax(50px, max-content));
  }
}
